name: Build Android APK
on: [push, workflow_dispatch]

jobs:
  build:
    # MENGGUNAKAN VERSI 22.04 AGAR LIBTINFO5 TERSEDIA
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install Dependencies
        run: |
          sudo apt update
          # Di Ubuntu 22.04, libtinfo5 masih tersedia secara resmi
          sudo apt install -y build-essential git zip unzip openjdk-17-jdk python3-pip \
            autoconf libtool pkg-config zlib1g-dev libncurses5-dev libncursesw5-dev \
            libtinfo5 cmake libffi-dev libssl-dev
          pip install --upgrade pip
          pip install buildozer cython==0.29.33

      - name: Build with Buildozer
        run: |
          # Perintah ini akan otomatis menyetujui lisensi SDK
          yes | buildozer android debug
        
      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: TripManager-APK
          path: bin/*.apk
